In [1]:
for r in range(7):
    for c in range(5):
        if(c==0 or c==4 and r%4!=0 ) or(r==0) and (c==1 or c==2) or (r==3 and c==2):
            print("a",end=" ")
        else:
            print(end=" ")
    print()

a a a
a    a
a    a
a  a  a
a
a    a
a    a

In [2]:
for r in range(6):
    for c in range(7):
        if(r==0 and c%3!=0) or (r==1 and c%3==0) or(r-c==2) or(r+c==8):
            print("游비",end="")
        else:
            print(" ",end=" ")
    print()

  游비游비  游비游비
游비    游비    游비
游비          游비
  游비      游비
    游비  游비
      游비

In [5]:
n=int(input("enter no of rows"))
num=1
for r in range(1,n+1):
    for c in range(1,r+1):
        print(num,end=" ")
        num=num+1
    print()

enter no of rows5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [5]:
for r in range(4):
    for c in range(4):
        if (c==0 or c==3) or (r-c==0):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print() 
print()
for r in range(5):
    for c in range(5):
        if (c==2) or (r==0):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print() 
print()
for r in range(5):
    for c in range(4):
        if (r==0 or r==2 and c!=3) or c==0 or (r==1 and c==3) or (r==3 and c==3) or (r==4 and c==3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*     *
* *   *
*   * *
*     *

* * * * *
    *
    *
    *
    *

* * * *
*     *
* * *
*     *
*     *

In [6]:
n=int(input("enter rows"))
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    for j in range(2,i+1):
        print(j,end=" ")
    print()

enter rows5
        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [7]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((chr(65+i)+" ")*(i+1))

enter no of rows:5
A
B B
C C C
D D D D
E E E E E

In [8]:
n=int(input("enter rows:"))
for i in range(n):
    print("* " *(i))

enter rows:5
* * * * *
* * * *
* * *
* *
*

In [9]:
n=int(input("enter number"))
for i in range(n):
    print((str(n)+' ')*n)

enter number5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [10]:
n=int(input("enter number"))
for i in range(1,n+1):
    print((str(i)+' ')*n)

enter number5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [11]:
n=int(input("enter number"))
for i in range(n):
    print((chr(65+i)+' ') *n)

enter number5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [12]:
n=int(input("enter number"))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
    print()

enter number5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [13]:
n=int(input("enter number"))
for i in range(n):
    for j in range(n):
        print(chr(65+j),end=' ')
    print()

enter number5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [14]:
n=int(input("enter number"))
for i in range(n,0,-1):
    print((str(i)+' ')*n)

enter number5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [15]:
n=int(input("enter number"))
for i in range(n):
    for j in range(n):
        print(n-j,end=' ')
    print()

enter number5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [16]:
n=int(input("enter number : "))
for i in range(n):
    for j in range(n):
        print(chr(65+n-j-1),end=' ')
    print()

enter number : 5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [17]:
n=int(input("enter number"))
for i in range(n):
    print('* '*(i+1))

enter number5
*
* *
* * *
* * * *
* * * * *

In [18]:
n=int(input("enter number"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+i),end=' ')
    print()

enter number5
A
B B
C C C
D D D D
E E E E E

In [19]:
n=int(input("enter number: "))
for i in range(n):
    for j in range(i):
        print(j+1,end=' ')
    print()

enter number: 5

1
1 2
1 2 3
1 2 3 4

In [20]:
n=int(input("enter number"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=' ')
    print()

enter number5
A
A B
A B C
A B C D
A B C D E

In [21]:
n=int(input("enter number: "))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter number: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [22]:
n=int(input("enter number: "))
for i in range(n):
    for j in range(i+1):
        print(chr(64+n-j),end=' ')
    print()

enter number: 5
E
E D
E D C
E D C B
E D C B A

In [23]:
n=int(input("enter number: "))
for i in range(n):
    print((str(n-i)+' ')*(n-i))

enter number: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [24]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(n-i-1),end=" ")
    print("* "*(i+1))

enter number: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [25]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(n-i-1)+(str(i+1)+" ")*(i+1))

enter number: 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [26]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(n-i-1)+(chr(65+i)+" ")*(i+1))

enter number: 5
    A
   B B
  C C C
 D D D D
E E E E E

In [27]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(i)+"* "*(n-i))

enter number: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [28]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(i+1)+(str(i+1)+" ")*(n-i))

enter number: 5
 1 1 1 1 1
  2 2 2 2
   3 3 3
    4 4
     5

In [29]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*i,end=" ")
    for j in range(n-i):
        print(j+1,end=" ")
    print()

enter number: 5
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [30]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*i,end=" ")
    for j in range(n-i):
        print(n-j,end=" ")
    print()

enter number: 5
 5 4 3 2 1
  5 4 3 2
   5 4 3
    5 4
     5

In [31]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))
for i in range(n-1):
    print(" "*(i+1)+"* "*(n-i-1))

enter number: 5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [32]:
n=int(input("enter number: "))
for i in range(n):
    print(" "*(n-i-1)+(str(i+1)+" ")*(i+1))
for i in range(n-1):
    print(" "*(i+1)+(str(n-i-1)+" ")*(n-i-1))

enter number: 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [33]:
n=int(input("enter n: "))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=' ')
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(n-j,end=' ')
    print()

enter n: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [34]:
n=int(input("enter no: "))
for i in range(n):
    print('  '*(n-i-1)+'* '*(i+1))
for i in range(n-1):
    print('  '*(i+1)+'* '*(n-i-1))

enter no: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [35]:
### top HOLLOW DIAMOND ###

n=int(input("enter no: "))
for i in range(n):
    print('  '*(n-i-1)+'*',end=' ')
    if i>=1: ##btw stars 2i-1 spaces
        print('  '*(2*i-1)+'*',end='')
    print()

enter no: 5
        *
      *   *
    *       *
  *           *
*               *

In [41]:
## bottom hollow ##
n=int(input("enter no: "))
for i in range(n):
    print('  '*i+'* ',end='')
    if i!=(n-1):
        print('  '*(2*n-2*i-3)+'* ',end='')
    print()

enter no: 5
*               *
  *           *
    *       *
      *   *
        *

In [42]:
n=int(input("enter no: "))
for i in range(n):
    print('  '*(n-i-1)+'*',end=' ')
    if i>=1: ##btw stars 2i-1 spaces
        print('  '*(2*i-1)+'*',end='')
    print()
for i in range(n):
    print('  '*i+'* ',end='')
    if i!=(n-1):
        print('  '*(2*n-2*i-3)+'* ',end='')
    print()

enter no: 5
        *
      *   *
    *       *
  *           *
*               *
*               *
  *           *
    *       *
      *   *
        *

In [76]:
n=int(input("enter number: "))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=' ')
    print('  '*(2*n-2*(i+1)),end='')
    for j in range(i,-1,-1):
        print(j+1,end=' ')
    print()

enter number: 5
1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [55]:
n=int(input("enter number: "))
for i in range(n):
    print('  '*(n-i-1),end=' ')
    for j in range(i,-1,-1):
        print(j+1,end=' ')
    print()

enter number: 5
         1
       2 1
     3 2 1
   4 3 2 1
 5 4 3 2 1

In [78]:
n=int(input("enter number: "))
for i in range(n):
    for j in range(i,-1,-1):
        print(chr(64+n-j),end=' ')
    print()

enter number: 5
E
D E
C D E
B C D E
A B C D E

In [3]:
n=int(input("enter no: "))
for i in range(n):
    print('  '*(n-i-1),end='')
    for j in range(i+1):
        print(chr(64+j+1),end=' ')
    print()

enter no: 4
      A
    A B
  A B C
A B C D

In [19]:
n=int(input("enter no: "))
for i in range(n-1):
    for j in range(i,-1,-1):
        print(chr(65+j),end=' ')
    print()

enter no: 4
A
B A
C B A

In [30]:
n=int(input("enter no: "))
for i in range(n):
    print(' '*((n-i)-1),end='')
    for j in range(i+1):
        print(chr(65+j),end='')
    for k in range(i,0,-1):
        print(chr(65+(k-1)),end='')
    print()

enter no: 4
   A
  ABA
 ABCBA
ABCDCBA